html
  head
    link(rel="stylesheet", href="/css/base.css")
    link(rel="stylesheet", href="/css/mdwiki.css")
    link(rel="stylesheet", href="/css/wikistyle.css")
  body
    #crumbs
      ul
        - for (var i in crumbs)
          - if (i == 0)
            li(class="first")
              a(href=crumbs[i].url)= crumbs[i].name
          - else
            li
              a(href=crumbs[i].url)= crumbs[i].name
    .wikistyle
      !{body}
